# ------------------------------------------------------------------ -*- conf -*-
# GCVideo DVI HDL
# Copyright (C) 2014-2020, Ingo Korb <ingo@akana.de>
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
#    this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright notice,
#    this list of conditions and the following disclaimer in the documentation
#    and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
# THE POSSIBILITY OF SUCH DAMAGE.
#
# constraints-gcplug: Pin definitions for the GCPlug board
#
# -------------------------------------------------------------------------------

# video output
NET "DVI_Clock[0]" LOC = P77;
NET "DVI_Clock[1]" LOC = P78;
NET "DVI_Blue[0]"  LOC = P83;
NET "DVI_Blue[1]"  LOC = P84;
NET "DVI_Green[0]" LOC = P88;
NET "DVI_Green[1]" LOC = P89;
NET "DVI_Red[0]"   LOC = P93;
NET "DVI_Red[1]"   LOC = P94;

# Gamecube digital video port
NET "CableDetect"  LOC = P20; # actually unconnected
NET "CSel"         LOC = P28;
NET "VData[0]"     LOC = P32;
NET "VData[1]"     LOC = P35;
NET "VData[2]"     LOC = P34;
NET "VData[3]"     LOC = P36;
NET "VData[4]"     LOC = P37;
NET "VData[5]"     LOC = P41;
NET "VData[6]"     LOC = P39;
NET "VData[7]"     LOC = P43;
NET "VClockN"      LOC = P40;

# Controller
NET "PadData"      LOC = P48;

# IR Receiver
NET "IRReceiver"   LOC = P99;
NET "IRButton"     LOC = P73;

# Audio
NET "I2S_Data"     LOC = P49;
NET "I2S_LRClock"  LOC = P44;
NET "I2S_BClock"   LOC = P50;
NET "SPDIF_Out"    LOC = P3; # actually unconnected
