# ------------------------------------------------------------------ -*- conf -*-
# GCVideo DVI HDL
# Copyright (C) 2014-2021, Ingo Korb <ingo@akana.de>
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
#    this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright notice,
#    this list of conditions and the following disclaimer in the documentation
#    and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
# THE POSSIBILITY OF SUCH DAMAGE.
#
# constraints-gc.ucf: Constraints for Gamecube signals
#
# -------------------------------------------------------------------------------

# Gamecube digital video port
NET "CSel"        IOSTANDARD = LVCMOS33 | PULLUP = TRUE;
NET "VData[0]"    IOSTANDARD = LVCMOS33 | PULLUP = TRUE;
NET "VData[1]"    IOSTANDARD = LVCMOS33 | PULLUP = TRUE;
NET "VData[2]"    IOSTANDARD = LVCMOS33 | PULLUP = TRUE;
NET "VData[3]"    IOSTANDARD = LVCMOS33 | PULLUP = TRUE;
NET "VData[4]"    IOSTANDARD = LVCMOS33 | PULLUP = TRUE;
NET "VData[5]"    IOSTANDARD = LVCMOS33 | PULLUP = TRUE;
NET "VData[6]"    IOSTANDARD = LVCMOS33 | PULLUP = TRUE;
NET "VData[7]"    IOSTANDARD = LVCMOS33 | PULLUP = TRUE;
NET "VClockN"     IOSTANDARD = LVCMOS33 | PULLUP = TRUE;

# Audio
NET "I2S_Data"     IOSTANDARD = LVCMOS33;
NET "I2S_LRClock"  IOSTANDARD = LVCMOS33;
NET "I2S_BClock"   IOSTANDARD = LVCMOS33;
