# ------------------------------------------------------------------ -*- conf -*-
# GCVideo DVI HDL
# Copyright (C) 2014-2020, Ingo Korb <ingo@akana.de>
# All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#
# 1. Redistributions of source code must retain the above copyright notice,
#    this list of conditions and the following disclaimer.
# 2. Redistributions in binary form must reproduce the above copyright notice,
#    this list of conditions and the following disclaimer in the documentation
#    and/or other materials provided with the distribution.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
# ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE
# LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
# INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
# CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
# ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
# THE POSSIBILITY OF SUCH DAMAGE.
#
# constraints-dualgc: Pin definitions for the GCDual board
#
# -------------------------------------------------------------------------------

# digital video output
NET "DVI_Clock[0]" LOC = P77;
NET "DVI_Clock[1]" LOC = P78;
NET "DVI_Red[0]"   LOC = P88;
NET "DVI_Red[1]"   LOC = P89;
NET "DVI_Green[0]" LOC = P85;
NET "DVI_Green[1]" LOC = P86;
NET "DVI_Blue[0]"  LOC = P83;
NET "DVI_Blue[1]"  LOC = P84;

# analog video output
NET "DAC_Red[0]"   LOC = P44 | IOSTANDARD = LVCMOS33;
NET "DAC_Red[1]"   LOC = P43 | IOSTANDARD = LVCMOS33;
NET "DAC_Red[2]"   LOC = P41 | IOSTANDARD = LVCMOS33;
NET "DAC_Red[3]"   LOC = P40 | IOSTANDARD = LVCMOS33;
NET "DAC_Red[4]"   LOC = P37 | IOSTANDARD = LVCMOS33;
NET "DAC_Red[5]"   LOC = P36 | IOSTANDARD = LVCMOS33;
NET "DAC_Red[6]"   LOC = P35 | IOSTANDARD = LVCMOS33;
NET "DAC_Red[7]"   LOC = P34 | IOSTANDARD = LVCMOS33;

NET "DAC_Green[0]" LOC = P20 | IOSTANDARD = LVCMOS33;
NET "DAC_Green[1]" LOC = P19 | IOSTANDARD = LVCMOS33;
NET "DAC_Green[2]" LOC = P16 | IOSTANDARD = LVCMOS33;
NET "DAC_Green[3]" LOC = P15 | IOSTANDARD = LVCMOS33;
NET "DAC_Green[4]" LOC = P13 | IOSTANDARD = LVCMOS33;
NET "DAC_Green[5]" LOC = P12 | IOSTANDARD = LVCMOS33;
NET "DAC_Green[6]" LOC = P10 | IOSTANDARD = LVCMOS33;
NET "DAC_Green[7]" LOC = P9  | IOSTANDARD = LVCMOS33;

NET "DAC_Blue[0]"  LOC = P6  | IOSTANDARD = LVCMOS33;
NET "DAC_Blue[1]"  LOC = P5  | IOSTANDARD = LVCMOS33;
NET "DAC_Blue[2]"  LOC = P4  | IOSTANDARD = LVCMOS33;
NET "DAC_Blue[3]"  LOC = P3  | IOSTANDARD = LVCMOS33;
NET "DAC_Blue[4]"  LOC = P99 | IOSTANDARD = LVCMOS33;
NET "DAC_Blue[5]"  LOC = P98 | IOSTANDARD = LVCMOS33;
NET "DAC_Blue[6]"  LOC = P94 | IOSTANDARD = LVCMOS33;
NET "DAC_Blue[7]"  LOC = P93 | IOSTANDARD = LVCMOS33;

NET "DAC_Clock"    LOC = P50 | IOSTANDARD = LVCMOS33;
NET "DAC_SyncN"    LOC = P49 | IOSTANDARD = LVCMOS33;
NET "CSync_out"    LOC = P33 | IOSTANDARD = LVCMOS33;
NET "HSync_out"    LOC = P32 | IOSTANDARD = LVCMOS33;
NET "VSync_out"    LOC = P28 | IOSTANDARD = LVCMOS33;

# Gamecube digital video port
NET "CableDetect"  LOC = P48;
NET "CSel"         LOC = P68;
NET "VData[0]"     LOC = P65;
NET "VData[1]"     LOC = P62;
NET "VData[2]"     LOC = P61;
NET "VData[3]"     LOC = P64;
NET "VData[4]"     LOC = P60;
NET "VData[5]"     LOC = P57;
NET "VData[6]"     LOC = P59;
NET "VData[7]"     LOC = P56;
NET "VClockN"      LOC = P90;

# Controller
NET "PadData"      LOC = P7;

# IR Receiver
NET "IRReceiver"   LOC = P97;
NET "IRButton"     LOC = P82;

# Audio
NET "I2S_Data"     LOC = P71;
NET "I2S_LRClock"  LOC = P70;
NET "I2S_BClock"   LOC = P72;
NET "SPDIF_Out"    LOC = P73;

# LED
NET "LED"          LOC = P52 | IOSTANDARD = LVCMOS33;

# analog mode input
NET "ForceYPbPr"   LOC = P39 | IOSTANDARD = LVCMOS33 | PULLUP = TRUE;
