BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
FREQUENCY PORT "VClock" 54.000000 MHz ;
BANK 0 VCCIO 3.3 V;
BANK 1 VCCIO 3.3 V;
BANK 2 VCCIO 3.3 V;
IOBUF PORT "CSel" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VClock" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VData[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VData[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VData[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VData[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VData[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VData[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VData[7]" IO_TYPE=LVCMOS33 ;
DEFINE PORT GROUP "VideoData" "VData[7]" 
"VData[6]" 
"VData[5]" 
"VData[4]" 
"VData[3]" 
"VData[2]" 
"VData[1]" 
"VData[0]" ;
FREQUENCY NET "VClock_c" 54.000000 MHz ;
IOBUF PORT "DACCLOCK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DACSYNCn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "EXTCSYNCn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "EXTHSYNCn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "EXTVSYNCn" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoB[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoB[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoB[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoB[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoB[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoB[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoB[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoB[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoG[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoG[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoG[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoG[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoG[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoG[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoG[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoG[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoR[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoR[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoR[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoR[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoR[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoR[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoR[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "VideoR[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "RGBSelect" IO_TYPE=LVCMOS33 PULLMODE=UP ;
BANK 3 VCCIO 3.3 V;
LOCATE COMP "CSel" SITE "53" ;
LOCATE COMP "VData[0]" SITE "54" ;
LOCATE COMP "VData[1]" SITE "58" ;
LOCATE COMP "VData[2]" SITE "57" ;
LOCATE COMP "VData[3]" SITE "62" ;
LOCATE COMP "VData[4]" SITE "63" ;
LOCATE COMP "VData[6]" SITE "66" ;
LOCATE COMP "VData[7]" SITE "70" ;
LOCATE COMP "VData[5]" SITE "67" ;
LOCATE COMP "DACCLOCK" SITE "7" ;
LOCATE COMP "DACSYNCn" SITE "24" ;
LOCATE COMP "EXTCSYNCn" SITE "1" ;
LOCATE COMP "EXTHSYNCn" SITE "3" ;
LOCATE COMP "EXTVSYNCn" SITE "2" ;
LOCATE COMP "VideoB[0]" SITE "21" ;
LOCATE COMP "VideoB[1]" SITE "25" ;
LOCATE COMP "VideoB[2]" SITE "20" ;
LOCATE COMP "VideoB[3]" SITE "17" ;
LOCATE COMP "VideoB[4]" SITE "16" ;
LOCATE COMP "VideoB[5]" SITE "13" ;
LOCATE COMP "VideoB[6]" SITE "12" ;
LOCATE COMP "VideoB[7]" SITE "8" ;
LOCATE COMP "VideoG[0]" SITE "39" ;
LOCATE COMP "VideoG[1]" SITE "38" ;
LOCATE COMP "VideoG[2]" SITE "35" ;
LOCATE COMP "VideoG[3]" SITE "34" ;
LOCATE COMP "VideoG[4]" SITE "32" ;
LOCATE COMP "VideoG[5]" SITE "31" ;
LOCATE COMP "VideoG[6]" SITE "28" ;
LOCATE COMP "VideoG[7]" SITE "27" ;
LOCATE COMP "VideoR[2]" SITE "49" ;
LOCATE COMP "VideoR[3]" SITE "48" ;
LOCATE COMP "VideoR[4]" SITE "43" ;
LOCATE COMP "VideoR[5]" SITE "42" ;
LOCATE COMP "VideoR[6]" SITE "41" ;
LOCATE COMP "VideoR[7]" SITE "40" ;
LOCATE COMP "RGBSelect" SITE "99" ;
IOBUF PORT "VData[0]" IO_TYPE=LVCMOS33 ;
LOCATE COMP "VClock" SITE "88" ;
LOCATE COMP "VideoR[0]" SITE "52" ;
LOCATE COMP "VideoR[1]" SITE "51" ;
LOCATE COMP "SPDIF_Out" SITE "82" ;
LOCATE COMP "BCLK" SITE "74" ;
LOCATE COMP "ADATA" SITE "75" ;
IOBUF PORT "ADATA" IO_TYPE=LVCMOS33 ;
IOBUF PORT "BCLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SPDIF_Out" IO_TYPE=LVCMOS33 ;
IOBUF PORT "LRCK" IO_TYPE=LVCMOS33 ;
LOCATE COMP "LRCK" SITE "71" ;
